@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-slide {
  margin: 0 10px; /* Spacing between slides */
}

.slick-prev:before,
.slick-next:before {
  color: #fffffffa; /* Color for the navigation arrows */
}

.slick-dots li button:before {
  color: #000; /* Color for dots */
}

/* src/App.css or src/index.css */
.slick-slide {
  transition: all 0.5s ease; /* Smooth transition for slide changes */
}







  